
@media all and (max-width: 1500px) {

    .home-page-welcome-message {
        background: none !important;
    }
}

@media all and (min-width: 1501px) {

    .center-1, .center-2, .side-2,
    .one-column-blocks-wrapper {
        margin: 0 0 140px;
    }
    .product-grid, .product-list,
    .bestsellers-wrapper,
    .news-list-homepage,
    .home-page-polls {
	    margin: 0 0 100px;
    }
    .home-page-welcome-message {
        margin: 0 0 60px;
    }
    .home-page-welcome-message.with-image-background {
        background-repeat: no-repeat;
        background-position: right 5% center;
        background-size: 30%; text-align: right;
        padding: 40px calc(38% - 5px) 40px 40px;
    }
    .product-grid .item-box .attribute-squares li {
        max-width: 35px;
    }
    .product-grid .item-box .attribute-square:after {
        width: 12px; height: 15px;
        font-size: 14px;
    }
}

@media all and (min-width: 1261px) and (max-width: 1600px) {

    .product-page-layout-two .variant-picture {
        float: none;
    }
    .product-page-layout-two .variant-picture + .variant-overview {
        clear: both;
        width: 100%;
        margin: 0;
    }
    .product-page-layout-two .variant-overview .variant-name {
        text-align: center;
    }
}

@media all and (min-width: 1261px) and (max-width: 1800px) {

    .product-grid .item-box:nth-child(6n+1) {
	    clear: both;
	    margin-right: 0;
    }
    .items-five .product-grid .item-box:nth-child(6n+1),
    .center-2 .product-grid .item-box:nth-child(6n+1) {
	    clear: none;
	    margin-right: 10px;
    }
    .items-five .product-grid .item-box:nth-child(5n+1),
    .center-2 .product-grid .item-box:nth-child(5n+1) {
	    clear: both;
	    margin-right: 0;
    }

    .shopping-cart-page .totals {
        padding: 10px;
    }
    .total-info {
        margin: 0 0 10px;
    }
    .totals .terms-of-service {
        margin: 0 0 15px;
        font-size: 13px;
        line-height: 18px;
    }
    .totals .terms-of-service input ~ label {
        font-size: 13px;
        line-height: inherit;
    }
}