@model Nop.Web.Models.Catalog.ProductDetailsModel.AddToCartModel

<div class="add-to-cart">
    <div class="add-to-cart-panel">
        <label asp-for="EnteredQuantity" asp-postfix=":" class="qty-label"></label>
        @if (Model.AllowedQuantities.Count > 0)
        {
            <select asp-for="EnteredQuantity" asp-items="Model.AllowedQuantities" class="qty-dropdown"></select>
        }
        else
        {
            <div class="add-to-cart-qty-wrapper">
                <input asp-for="EnteredQuantity" class="qty-input" type="text" />
                <span class="plus">+</span>
                <span class="minus">-</span>
            </div>
            <script type="text/javascript" asp-location="Footer">
                //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                $(document).ready(function() {
                    $("#@Html.IdFor(model => model.EnteredQuantity)").keydown(function(event) {
                        if (event.keyCode == 13) {
                            $("#add-to-cart-button-@Model.ProductId").click();
                            return false;
                        }
                    });
                });
            </script>
        }       
        <input type="button" id="add-to-cart-button-@Model.ProductId" value="@T("shoppingcart.addtowishlist")" class="button-1 add-to-cart-button miniProductDetailsViewAddToWishlistButton miniProductDetailsViewAddToCartButton" data-productid="@Model.ProductId" />
        @Html.Hidden("addProductVariantToCartUrl", Url.Action("AddProductFromProductDetailsPageToCartAjax", "NopAjaxCartShoppingCart"))
    </div>
</div>